div.answer {
	text-align: center;
}
div.answer div input[type=radio] {
	position : absolute;
	visibility : hidden;
}

div.answer div {
	display : inline-block;
	position: relative;
}

div.answer div.r0 label {
	background-color : green;
}

div.answer div.r1 label{
	background-color: tomato;
}

div.answer div label {
	display: inline-block;
	font-weight : bold;
	font-family : sans-serif;
	font-size : 1.25em;
	color : white;
	vertical-align:middle;
	cursor: pointer;
	width : 150px;
	height : 22px;
	padding : 10px;
	text-align : center;
	margin : 0 10px;
	border-radius : 21px;
}

div.answer div input[type=radio] ~ label::before {
	display: inline-block;
	position: absolute;
	content: '';
	border-radius: 100%;
	border : 4px solid white;
	padding: 8px;
	margin-right: 15px;
	vertical-align: middle;
	left:20px;
	top:50%;
	transform: translate(0,-50%);
	transition : all 0.2s linear;
	-webkit- transition : all 0.25s linear;
}

div.answer div input[type=radio]:checked ~ label::before {
	background-color:white;
}

div.answer div.r0 input[type=radio] ~ label:hover {
	background-color: blue;
}

div.answer div.r1 input[type=radio] ~ label:hover {
	background-color: maroon;
}
